# Node.js
node_modules/
npm-debug.log
package-lock.json  # можно и оставить, но часто исключают

# Сборка
dist/
build/
.tmp/

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ОС
.DS_Store          # macOS
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db       # Windows
Thumbs.db

# Локальные серверы
.htaccess
.env
.env.local

# Редакторские файлы
*.log
*.tmp
*.bak

# Если используете Sass/Less
.sass-cache/
