@use 'sass:color';
@use '../abstracts/' as *;

.btn, 
a.btn {
  padding: 2.1rem 7.1rem;
  width: 100%;
  max-width: 26.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid color-orange;
  border-radius: 10px;
  background: $color-white;

  font-family: $second-family;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: $color-white;

  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &--orange {
    border: 1px solid $color-orange;
    background: $color-orange;

    &:hover {
      // background: lighten(var.$color-orange, 7);
      background: color.scale($color-orange, $lightness: 7%);
    }
  }

  &--blue {
    border: 1px solid $color-blue;
    background: $color-blue;

    &:hover {
      // background: lighten($color-blue, 7);
      background: color.scale($color-blue, $lightness: 7%);
    }
  }
  
  &--blue-dark {
    max-width: 18.7rem;

    background: $color-blue-dark;
    border: 1px solid $color-blue-dark;
    padding: 1rem 2.1rem;

    &:hover {
      // background: lighten($color-blue-dark, 7);
      background: color.scale($color-blue-dark, $lightness: 7%);
    }
  }

  // Break points
  // 1024
  @include below-laptop {

  }

  // 768
  @include below-tablet {
    padding: 1rem 2rem;
    font-size: 1.7rem;
  }

  // 480
  @include below-mobile {
    padding: .5rem 1rem;
    font-size: 1.5rem;

    & img {
      width: 2rem;
      height: 2rem;
    }

    &--blue-dark {
      max-width: 15rem;
    }
  }

  // 420
  @media (max-width: 420px) {
    font-size: 1rem;
  }
}