// Font
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap');

// 
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.none {
  display: none !important;
}
