@use '../abstracts/' as *;

.brand-name {
  position: absolute;
  right: -2%;
  bottom: 0;

  white-space: nowrap;

  font-family: $font-family;
  font-weight: 400;
  font-size: 10rem;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;

  &--highlight {
    color: #ff774c;
  }

  @media (max-width: 1350px) {
    right: 0;
    font-size: 100%;
  }
}

.section-title {
  font-family: $font-family;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #242f65;

  &--white {
      color: #fff;
  }

  // 1024
  @include below-laptop {
    font-size: 3.5rem;
  }

  // 768
  @include below-tablet {
    font-size: 3rem;
  }

  // 480
  @include below-mobile {
    font-size: 2.5rem;
  }
}

.section-description {
  font-family: $second-family;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #525665;

  &--white {
    color: #fff;
  }

  // 1024
  @include below-laptop {
    font-size: 2.2rem;
  }

  // 768
  @include below-tablet {
    font-size: 1.6rem;
  }

  // 480
  @include below-mobile {
    font-size: 1.1rem;
  }
}

.copyright-text {
  font-family: $second-family;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #242f65;
  
  // Break points
  // 1024
  @include below-laptop {
    font-size: 1.7rem;
  }

  // 768
  @include below-tablet {
    font-size: 1.1rem;
  }

  // 480
  @include below-mobile {
    font-size: 0.87rem;
  }
}

.link {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  &--nav {
    font-family: $second-family;
    font-size: 20px;
    color: $color-nav-link;
    font-size: 2rem;
  
    transition: color 0.2s ease-in;
  
    &:hover {
      color: $color-orange;
    }
  }

  &--footer {

  }

  &--modal {
    font-size: 25px;
    color: #242f65;
  
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}