<section class="modal" id="modal">
  <div class="modal__overlay"></div>

  <div class="modal__body">
    <button class="modal__close"
      id="modalClose"
      aria-label="Modal close button"
      type="button"
      >
      <svg width="24" height="24" viewBox="0 0 24 24">
        <line x1="6" y1="6" x2="18" y2="18" stroke="black" stroke-width="2" />
        <line x1="6" y1="18" x2="18" y2="6" stroke="black" stroke-width="2" />
      </svg>
    </button>

    <div class="modal__header">
      <h2 class="section-title">Get in Touch</h2>
      <p class="section-description">Choose your preferred way to connect:</p>
    </div>

    <ul class="modal__social-list">
      <li class="modal__social-link">
        <a class="link link--modal" href="#!" aria-label="Telegram" target="_blank">Telegram
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Telegram</title>
            <path
              d="M21.2656 3.42773L2.93499 10.2769C1.72486 10.7444 1.73237 11.4241 2.71322 11.743L7.26412 13.3675L18.1915 6.54402C18.7558 6.18001 19.2656 6.36564 18.8486 6.751L9.67383 15.1381H9.67127L9.67383 15.1392L9.32898 19.7802C9.79967 19.7802 10.0131 19.5584 10.2804 19.3032L12.6514 17.0696L17.2567 20.4939C18.2133 21.0237 18.8922 20.7503 19.142 19.6276L22.509 5.23965C22.8615 3.90089 22.0018 3.22202 21.2656 3.42773Z"
              fill="url(#telegram_gradient)" />
            <defs>
              <linearGradient id="telegram_gradient" x1="3" y1="12" x2="21" y2="12" gradientUnits="userSpaceOnUse">
                <stop stop-color="#2AABEE" />
                <stop offset="1" stop-color="#229ED9" />
              </linearGradient>
            </defs>
          </svg>
        </a>
      </li>

      <li class="modal__social-link">
        <a class="link link--modal" href="mailto:mymail@gmail.com" aria-label="mail" target="_blank">My mail
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Email</title>
            <rect x="4" y="6" width="16" height="12" rx="1.5" stroke="#3B82F6" stroke-width="1.5" />
            <path d="M4 9L10.913 13.418C11.574 13.782 12.426 13.782 13.087 13.418L20 9" stroke="#3B82F6" stroke-width="1.5"
              stroke-linecap="round" />
          </svg>
        </a>
      </li>

      <li class="modal__social-link">
        <a class="link link--modal" href="#!" aria-label="Telegram" target="_blank">Instagram
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>Instagram</title>
            <path
              d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
              fill="url(#instagram-gradient)" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12ZM12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6Z"
              fill="url(#instagram-gradient)" />
            <circle cx="17" cy="7" r="0.75" fill="white" />
            <defs>
              <linearGradient id="instagram-gradient" x1="4" y1="19.5" x2="20" y2="4.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFC107" />
                <stop offset="0.5" stop-color="#F44336" />
                <stop offset="1" stop-color="#9C27B0" />
              </linearGradient>
            </defs>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>