@use '../abstracts/' as *;

.case-studies {
  background: #edf0f9;

  &__content {
    padding: 12rem 4rem;
  }
  
  &__title {
    margin-bottom: 6rem;
  }

  // 1024
  @include below-laptop {
    &__content {
      padding: 6rem 2rem;
    }
  
    &__title {
      margin-bottom: 4rem;
    }
  }

  // 768
  @include below-tablet {
    &__content {
      padding: 4rem 2rem;
    }
  
    &__title {
      margin-bottom: 3rem;
    }
  }

  // 480
  @include below-mobile {
    &__content {
      padding: 1rem 1rem;
    }
  
    &__title {
      margin-bottom: 1rem;
    }
  }
}