@use '../abstracts/mixins' as mixin;

.home-pages-demo {
  margin-bottom: 4rem;

  &__content {
    padding-bottom: 7rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 6rem;
  }

  // 1024
  @include mixin.below-laptop {

    &__content {
      padding-bottom: 4rem;
    }

    &__title { 
      margin-bottom: 4rem;
    }
  }

  // 768
  @include mixin.below-tablet {
    &__content {
      padding-bottom: 2rem;
    }
    
    &__title {
      margin-bottom: 2rem;
    }
  }

  // 480
  @include mixin.below-mobile {
    margin-bottom: 2rem;

    &__content {
      padding-bottom: 1rem;
    }
  
    &__title {
      margin-bottom: 1rem;
    }
  }
}






