@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

// Main breakpoints
@mixin below-desktop {
  @media (max-width: breakpoint-max($breakpoint-desktop)) {
    @content;
  }
}

@mixin below-laptop {
  @media (max-width: breakpoint-max($breakpoint-laptop)) {
    @content;
  }
}

@mixin below-tablet {
  @media (max-width: breakpoint-max($breakpoint-tablet)) {
    @content;
  }
}

@mixin below-mobile {
  @media (max-width: breakpoint-max($breakpoint-mobile)) {
    @content;
  }
}

@mixin below-mobile-small {
  @media (max-width: breakpoint-max($breakpoint-mobile-small)) {
    @content;
  }
}

// Mixin for between breakpoints
@mixin between($min, $max) {
  @media (min-width: $min) and (max-width: breakpoint-max($max)) {
    @content;
  }
}

/// Mixin for min-width media query
@mixin above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

