@use '../abstracts/' as *;

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1.5rem;

  // 1024
  @include below-laptop {
    width: 100%;
    padding: 0 1.5rem;
  }

  // 768
  @include below-tablet {
    width: 100%;
    padding: 0 1rem;
  }

  // 480
  @include below-mobile {
    padding: 0 0.5rem;
  }
}