@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

.footer {
  padding: 11.6rem 0 0;

  background-image: image-set(
    url('/img/layout/footer/footer-bg.png') 1x,
    url('/img/layout/footer/footer-bg@2x.png') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contact-me-row {
    overflow: hidden;
    margin-bottom: 8.9rem;
    
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    &-item {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      gap: 1rem;
      align-items: center;
      width: 36.5rem;

      & span {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #242f65;
      }
    }
  }

  &__rect {
    border-top: 1px solid #d092ba;
    border-bottom: 1px solid #d092ba;
  }

  &__content {
    padding: 12.2rem 4rem;

    display: flex;
    align-items: center;
  }

  &__link-col {
    max-width: 21.4rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & a {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #242f65;

      transition: color 0.2s ease-in;

      &:hover {
        color: var.$color-orange;
      }
    }
  }

  &__cta {
    max-width: 81.5rem;
    width: 100%;
    height: 116px;
    padding: 3.2rem 0;

    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    background: #fff;

    & p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #242f65;
    }
  }

  &__copyright {
    padding: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    & p + a {
      margin-left: 1rem;
    }
  }

  // 1024
  @include mixin.below-laptop {
    padding: 6rem 0 0;

    &__contact-me-row {
      overflow: hidden;
      margin-bottom: 4.5rem;
  
    
      &-item {
        width: 36.5rem;
        justify-content: center;

        & span {
          font-size: 2.7rem;
        }
      }
    }


    &__content {
      padding: 6rem 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

    }

    &__link-col {
      gap: 1rem;
      max-width: 50%;
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & a {
      font-size: 2rem;
    }

    }

    &__cta {
      height: unset;
      padding: 2rem 0;
      gap: 0.3rem;
      justify-content: space-around;

      & p {
        font-size: 1.8rem;
      }
    }
  }

  // 768
  @include mixin.below-tablet {
    padding: 3rem 0 0;
    
    &__contact-me-row {
      overflow: hidden;
      margin-bottom: 4.5rem;
    
      &-item {
        width: 25rem;
        justify-content: center;
  
        & span {
          font-size: 1.5rem;
        }
      }
    }
    
    &__content {
      padding: 3rem 1rem;
  
      display: flex;
      align-items: center;
    }
    
    &__link-col {
      flex-direction: column;
    }
    
    &__cta {
      height: unset;
      padding: 1rem 0;
      gap: 1rem;
      flex-direction: column;
      justify-content: space-around;
  
      & p {
        font-size: calc(2.4rem * 0.7);
      }
    }
  }

  // 480
  @include mixin.below-mobile {
    padding: 1.5rem 0 0;

    &__scroll-up {
      width: 133px;
      margin: 0 auto;
    }

    &__contact-me-row {
      margin-bottom: 2rem;

      &-item {
        width: 18rem;
        justify-content: center;

        & span {
          font-size: 1.2rem;
        }
      }
    }

    &__content {
      padding: 1.5rem 0.5rem;
      flex-direction: column;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__link-col {
      gap: 0.5rem;
    }

    &__cta {
      height: unset;
      padding: 0.5rem 0.5rem;
      gap: 0.5rem;

      & p {
        font-size: calc(2.4rem * 0.5);
        text-align: center;
      }
    }
  }
}