@use '../abstracts/' as *;

.nav {

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }

    & a:focus,
    & a:focus-visible {
      outline: 2px solid #007bff;
      outline-offset: 2px;
      border-radius: 4px;
    }   

    // 1024
    @include below-laptop {

    }

    // 768
    @include below-tablet {
      display: none;
    }

    // 480
    @include below-mobile {

    }
  }
}
