.mobile-nav {
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 998;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);

  opacity: 0;
  pointer-events: none;

  transition: all 0.2s ease-in;

  &__list {
    position: relative;
    padding: 7rem 0;
    margin: 7rem auto;
    width: 70%;
    height: 35%;

    z-index: 999;

    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: #fff;
  }
  
  &__item {

  }

  &__btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--open {
    opacity: 1;
    pointer-events: all;
  }

}
