<footer class="footer" id="footer">
  <div class="footer__scroll-container" >
    <a 
    class="scroll-btn scroll-btn-up" 
    aria-label="Scroll up to work"
    href="#hero">
      <img 
        src="/img/layout/footer/scroll-btn-up.svg" 
        alt=""
        aria-hidden="true"
        >
    </a>
  </div>
  
  <div class="footer__contact-me-row">
    <div class="footer__contact-me-row-item">
      <img src="/img/layout/footer/footer-touch.svg" alt="img">
      <span>Get in Touch</span>
    </div>
    <div class="footer__contact-me-row-item">
      <img src="/img/layout/footer/footer-work.svg" alt="img">
      <span>Available for Work</span>
    </div>
    <div class="footer__contact-me-row-item">
      <img src="/img/layout/footer/footer-touch.svg" alt="img">
      <span>Get in Touch</span>
    </div>
    <div class="footer__contact-me-row-item">
      <img src="/img/layout/footer/footer-work.svg" alt="img">
      <span>Available for Work</span>
    </div>
    <div class="footer__contact-me-row-item">
      <img src="/img/layout/footer/footer-touch.svg" alt="img">
      <span>Get in Touch</span>
    </div>
    <div class="footer__contact-me-row-item">
      <img src="/img/layout/footer/footer-work.svg" alt="img">
      <span>Available for Work</span>
    </div>
  </div>

  <div class="footer__rect">
    <div class="footer__content container">
      <div class="footer__link-col">
        <a class="link link--footer" href="#!">UX Designer</a>
        <a class="link link--footer" href="#!">UI Designer</a>
        <a class="link link--footer" href="#!">Protected</a>
      </div>
      
      <div class="footer__link-col">
        <a class="link link--footer" href="#!">Style Guide</a>
        <a class="link link--footer" href="#!">Licenses</a>
        <a class="link link--footer" href="#!">Changelog</a>
      </div>

      <div class="footer__cta">
        <p>Interested in working together? Drop me a line</p>
      
        <button class="btn btn--blue-dark" 
        type="button"
        data-action="modal-open"
        >
          <img src="/img/layout/footer/form-logo.svg" alt="img">
          <span class="footer__form-text">Write Now</span>
        </button>
      </div>
    </div>
  </div>

  <div class="footer__copyright copyright-text">
    <p>Copyright © UIUXer | Designed by</p>
    <a href="#!"> VictorFlow</a>
    <p>Templates - Powered by</p>
    <a href="#!"> Webflow</a>
  </div>

</footer>