<header class="header" id="header">
  <div class="container">
    <div class="header__row">   
      <div class="header__logo">
        <a class="header__logo-link" href="index.html">
          <img src="img/logo/main-logo.svg" alt="UIUXer - Home page">
          <span class="visually-hidden">main page</span>
        </a>
      </div>

      <div class="header__nav">
        @@include('../layout/_nav.html')
      </div>

      <button class="header__nav-btn-mobile" id="mobileNav">
        <img id="mobileNavIcon" src="/img/layout/header/icons8-menu-30.svg" alt="open mobile navigation">
      </button>
    </div>
  </div>
</header>