<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to Home">Home</a>
    </li>
    <li class="mobile-nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to About Me">About Me</a>
    </li>
    <li class="mobile-nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to Pages">Pages</a>
    </li>
    <li class="mobile-nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to Contact Us">Contact Us</a>
    </li>
  </ul>
</nav>