<nav class="nav" aria-label="site navigation">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to Home">Home</a>
    </li>
    <li class="nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to About Me">About Me</a>
    </li>
    <li class="nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to Pages">Pages</a>
    </li>
    <li class="nav__item">
      <a class="link link--nav" href="#!" aria-label="Go to Contact Us">Contact Us</a>
    </li>
  </ul>
</nav>